<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Liveli{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="layout">
      <aside class="sidebar">
        <img
          src="{{ url_for('static', filename='images/Favicon.png') }}"
          alt="Liveli Logo"
          class="sidebar-logo"
        />
        <nav>
          <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('communities') }}">Communities</a></li>
            {% if 'user_id' in session %}
            <li><a href="{{ url_for('friends') }}">Friends</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
          </ul>
        </nav>
      </aside>
      <main class="content">{% block content %}{% endblock %}</main>
    </div>
  </body>
</html>
